[Unit]
Description=Dagr background service
Documentation=https://dagr.bles.nu

[Service]
Type=simple
ExecStart=/usr/bin/flatpak run --die-with-parent --command=dagr nu.bles.dagr serve
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
